@model  PagedList.IPagedList<DoAnCoSo.Models.Phong>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Phong";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2 style="text-align:center">Phòng</h2>

<p style="text-align:right">
    @Html.ActionLink("Thêm phòng mới", "ThemPhong")
</p>

@using (Html.BeginForm("Phong", "Admin"))
{
    <form>
        <div class="form-group form-inline">
            <input type="text" name="tenphong" value="@ViewBag.Keyword" class="form-control form-inline" />
            @Html.DropDownList("KhuVuc", null, "Tất cả khu vực", htmlAttributes: new { @class = "w-1/2 bg-Black-100  border border-red-400 rounded py-2 px-2 mb-1 leading-tight focus:outline-none focus:bg-white-400" })
            @Html.DropDownList("LoaiPhong", null, "Tất cả loại phòng", htmlAttributes: new { @class = "w-1/2 bg-Black-100  border border-red-400 rounded py-2 px-2 mb-1 leading-tight focus:outline-none focus:bg-white-400" })
            @Html.DropDownList("KieuPhong", null, "Tất cả kiểu phòng", htmlAttributes: new { @class = "w-1/2 bg-Black-100  border border-red-400 rounded py-2 px-2 mb-1 leading-tight focus:outline-none focus:bg-white-400" })
            @Html.DropDownList("TrangThai", (IEnumerable<SelectListItem>)ViewBag.TrangThai, "Tất cả", htmlAttributes: new { @class = "w-1/2 bg-Black-100  border border-red-400 rounded py-2 px-2 mb-1 leading-tight focus:outline-none focus:bg-white-400" })
            <input type="submit" name="submit" value="Tìm kiếm" class="form-control" />
        </div>
    </form>
}
<table class="table">
    <tr>
        <th>
            Tên phòng
        </th>
        <th>
            Giá phòng
        </th>
        <th>
            Khu vực
        </th>
        <th>
            Loại phòng
        </th>
        <th>
            Ảnh
        </th>
        <th>
            Mô tả
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Vị trí
        </th>
        <th>
            Kiểu phòng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="product @item.MaPhong">
            <td>
                @Html.DisplayFor(modelItem => item.TenPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaPhong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KhuVuc.TenKV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiPhong.TenLoaiPhong)
            </td>
            <td>
                <img src="@item.AnhDaiDien" alt="@item.TenPhong" style="width:150px;height:150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                <button class="form-control form-inline ajax-fix-to-status btn @(item.TrangThai == true ? "btn-success" : "btn-danger") " data-id="@item.MaPhong">
                    @if (item.TrangThai == true)
                    {
                        <p>HD</p>
                    }
                    else
                    {
                        <p>Ngừng</p>
                    }
                </button>
                <
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KieuPhong.TenKieuPhong)
            </td>
            <td>
                <a class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-blue" href="@Url.Action("SuaPhong", new { id = item.MaPhong})">
                    <i class="fas fa-edit"></i>
                </a>
                <a class="ajax-fix-to-delete bg-teal-300 cursor-pointer rounded p-1 mx-1 text-red" data-id="@item.MaPhong">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Phong", new
        {
            tenphong = @ViewBag.Keyword,
            page = page
        }))
    </div>
</div>

<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);

                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                $(this).append('<span class="more-text">' + removedStr +
                    '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".ajax-fix-to-status").click(function (e) {
                e.preventDefault();
                var btn = $(this);
                $.ajax({
                    type: 'GET',
                    url: '/Admin/StatusPhong',
                    data: {
                        IDSP: $(this).data("id"),
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        if (data.abc == true) {
                            btn.text("Đang Hoạt Động");
                            $(btn).removeClass('btn-danger')
                            $(btn).addClass('btn-success')
                            toastr.options =
                            {
                                "closeButton": true,
                                "progressBar": true
                            }
                            toastr.success("Phòng hoạt động trở lại", "Thông Báo");
                        }
                        else {
                            btn.text("Ngừng Hoạt Động");
                            $(btn).removeClass('btn-success')
                            $(btn).addClass('btn-danger')
                            toastr.options =
                            {
                                "closeButton": true,
                                "progressBar": true
                            }
                            toastr.error("Phòng ngừng hoạt động", "Thông Báo");
                        }

                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
        });

    </script>

    <script type="text/javascript">
        $(function () {
            $(".ajax-fix-to-delete").click(function (e) {
                if (confirm('Bạn có chắc xóa khu vực này không ?') == true) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data("id");
                    $.ajax({
                        type: 'GET',
                        url: '/Admin/XoaPhong',
                        data: {
                            id: btn.data("id"),
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            if (data.result == true) {
                                var row = document.getElementById('product ' + id)
                                row.style.display = "none";
                                toastr.options =
                                {
                                    "closeButton": true,
                                    "progressBar": true
                                }

                                toastr.success("Bạn vừa xóa khu vực", "Thông Báo");
                            }
                            else {
                                toastr.options =
                                {
                                    "closeButton": true,
                                    "progressBar": true
                                }
                                toastr.error("Bạn không thể xóa khu vực này", "Thông Báo");
                            }

                        },
                        error: function () {
                            alert("error");
                        }
                    });
                }

            });
        });

    </script>

}

