@model DoAnCoSo.Models.ChiTietTienNghi

@{
    ViewBag.Title = "ThemChiTietTienNghi";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<h2 style="text-align:center">Chi tiết tiện nghi</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form>
        <div class="form-group form-inline">
            <div>
                <p style="font-style: normal; font-size: 20px; color: darkturquoise">Khu vực</p>
                @Html.DropDownList("maPhong", null, null, htmlAttributes: new { @class = "appearance-none block w-full bg-gray-200  border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500" })
            </div>
            <p class="text-red-500 text-xs italic" style="margin-top:0px">@Html.ValidationMessageFor(model => model.MaPhong)</p>
            <div>
                <p style="font-style: normal; font-size: 20px; color: darkturquoise">Loại phòng</p>
                @Html.DropDownList("tienNghi", null, null, htmlAttributes: new { @class = "appearance-none block w-full bg-gray-200  border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white-500" })
            </div>
            <p class="text-red-500 text-xs italic" style="margin-top:0px">@Html.ValidationMessageFor(model => model.IDTN)</p>
        </div>
        
    </form>
        <div class="form-group">
            <p style="font-style: normal; font-size: 20px; color: darkturquoise">Số lượng</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluong, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />| hoặc |
                @Html.ActionLink("Quay lại", "ChiTietTienNghi")
            </div>
        </div>
    </div>
}
